@model WebPortal.Models.Sensor

@{
    ViewData["Title"] = "DeleteView";
}

<h2>DeleteView</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    @using (Html.BeginForm("DeleteSensor", "Sensors", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        @Html.ActionLink("Back", "Index", "Sensors",null,new { @class="btn btn-primary"})
    }
</div>
