@using WebPortal.Models.Sensors
@model ISensor

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", "Sensors", new { Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Delete", "Delete", "Sensors", new { Model.Id }, new { @class = "btn btn-danger" })
    <br />
    <br />
    @Html.ActionLink("Back", "Index", "Sensors", null, new { @class = "btn btn-primary" })
</div>
