@using WebPortal.Models.Sensors
@model IEnumerable<ISensor>

@{
    ViewBag.Title = "Sensors";
    int i = 1;
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        @foreach (var modelItem in Model)
        {
            if (modelItem.Value != "")
            {
                <div class="col-sm-4">
                    <div id="@modelItem.Id" data-sensor="@modelItem.Id" class="tile green">
                        <h3 class="title">@modelItem.Name</h3>
                        <h3 data-sensorid="@modelItem.Id" class="title">@modelItem.Value</h3>
                        <h5 class="title">@modelItem.SensorType</h5>
                        <p>@modelItem.Id</p>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-4">
                    <div id="@modelItem.Id" data-sensor="@modelItem.Id" class="tile orange">
                        <h3 class="title">@modelItem.Name</h3>
                        <h3 data-sensorid="@modelItem.Id" class="title">@modelItem.Value</h3>
                        <h5 class="title">@modelItem.SensorType</h5>
                        <p>@modelItem.Id</p>
                    </div>
                </div>
            }
        }
    </div>
</div>