@using WebPortal.Models.Sensors
@model ISensor

@{
    ViewBag.Title = "Delete";
}


<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaspberryPin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RaspberryPin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
    @using (Html.BeginForm("SensorsDelete", "Sensors", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Back", "SensorsConfigurtion", "Sensors", null, new { @class = "btn btn-primary" })
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>
