@using RaspberryLib
@{
    ViewData["Title"] = "Smart solution";
}
@{
    ViewBag.Title = "Raspberry";
    var raspberryPins = Enum.GetValues(typeof(PinCode));
    int i = 1;
}
<h2>@ViewBag.Title</h2>

@*TO DO:Make raspbery layout*@
<div class="flex-container">
    @{
        i = 1;
        @foreach (RaspberryLib.PinCode pin in raspberryPins)
        {
            if (i <= 20)
            {
                <div>
                    <label>@EnumeratorHelpers.GetGPIOName(pin)</label>
                    <div 
                         id="@pin.ToString()" 
                         class="pin"
                         data-toggle="popover" 
                         data-placement="bottom"
                         title="@EnumeratorHelpers.GetGPIOName(pin)" 
                         data-trigger="hover"  
                         data-content="Some content inside the popover"  
                         >@i
                    </div>
                </div>
            }
            else
            {
                <div>

                    <div id="@pin.ToString()"
                         class="pin"
                         data-toggle="popover"
                         data-placement="bottom"
                         title="@EnumeratorHelpers.GetGPIOName(pin)"
                         data-trigger="hover"
                         data-content="Some content inside the popover">
                        @i
                    </div>                    <label>@EnumeratorHelpers.GetGPIOName(pin)</label>
                </div>
            }
            i++;
        }
    }
</div>


