@using RaspberryLib

@{
    ViewData["Title"] = "Smart solution";
}
@{
    ViewBag.Title = "Raspberry";
    var raspberryPins = Enum.GetValues(typeof(PinCode));
    int i = 1;
}
<h2>@ViewBag.Title</h2>

<div class="flex-container">
    @{
        i = 1;
        @for (i = 2; i <= 40; i = i + 2)
        {
            <div>
                <label>@EnumeratorHelpers.GetGPIOName((PinCode)i)</label>
                <div id="@((PinCode)i)"
                     class="pin @EnumeratorHelpers.GetGPIOGroup((PinCode)i)"
                     data-toggle="popover"
                     data-placement="bottom"
                     title="@EnumeratorHelpers.GetGPIOName((PinCode)i)"
                     data-trigger="hover"
                     data-content="No data available">
                    @i
                </div>
            </div>
        }
        @for (i = 1; i <= 40; i = i + 2)
        {
            <div>
                <div id="@((PinCode)i)"
                     class="pin @EnumeratorHelpers.GetGPIOGroup((PinCode)i)"
                     data-toggle="popover"
                     data-placement="bottom"
                     title="@EnumeratorHelpers.GetGPIOName((PinCode)i)"
                     data-trigger="hover"
                     data-content="No data available">
                    @i
                </div>
                <label>@EnumeratorHelpers.GetGPIOName((PinCode)i)</label>
            </div>
        }
    }
</div>


