@model WebPortal.Models.Switch

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Switch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit","Switches", new { Model.Id }, new { @class="btn btn-primary"}) |
    @Html.ActionLink("Delete","Delete", "Switches", new { Model.Id }, new { @class = "btn btn-danger" }) |
    <a asp-action="Index">Back to List</a>
</div>
