@using WebPortal.Models.Switches
@model IEnumerable<ISwitch>

@{
    ViewBag.Title = "Switches";
    int i = 1;
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        @foreach (var modelItem in Model)
        {
            if (modelItem.State == true )
            {
                <div class="col-sm-4">
                    <div  id="@modelItem.Id" class="tile green">
                        <h3 class="title">@modelItem.Name</h3>
                        <h5 class="title">@modelItem.SwitchType</h5>
                        <p>@modelItem.Id</p>
                        <button id="@modelItem.Id" onclick="TurnOFFSwitch(this)" class="btn btn-default">OFF</button>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-4">
                    <div id="@modelItem.Id" class="tile orange">
                        <h3 class="title">@modelItem.Name</h3>
                        <h5 class="title">@modelItem.SwitchType</h5>
                        <p>@modelItem.Id</p>
                        <button id="@modelItem.Id" onclick="TurnONSwitch(this)" class="btn btn-default">ON</button>
                    </div>
                </div>
            }
        }
    </div>
</div>